In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
train = pd.read_csv('C:/Users/82106/Desktop/2022/dacon/train.csv')

In [5]:
sex_mapping = {"F":0, "M":1}
train['gender']=train['gender'].map(sex_mapping)
car_mapping = {"Y":1, "N":0}
train['car']=train['car'].map(car_mapping)
reality_mapping = {"Y":1, "N":0}
train['reality']=train['reality'].map(reality_mapping)

In [6]:
income_type_mapping = {'Commercial associate':0, 'Working':0.25, 'State servant':0.5, 'Pensioner':0.75, 'Student':0.1}
train['income_type']=train['income_type'].map(income_type_mapping)
edu_type_mapping = {'Higher education':0 ,'Secondary / secondary special':0.25, 'Incomplete higher':0.5, 'Lower secondary':0.75, 'Academic degree':1}
train['edu_type']=train['edu_type'].map(edu_type_mapping)
family_type_mapping = {'Married':0, 'Civil marriage':0.25, 'Separated':0.5, 'Single / not married':0.75, 'Widow':1}
train['family_type']=train['family_type'].map(family_type_mapping)
house_type_mapping = {'Municipal apartment':0, 'House / apartment':0.2, 'With parents':0.4,'Co-op apartment':0.6, 'Rented apartment':0.8, 'Office apartment':1}
train['house_type']=train['house_type'].map(house_type_mapping)

In [7]:
train.drop(['index','FLAG_MOBIL','occyp_type','child_num'],axis=1,inplace=True)

In [8]:
train['income_total']=np.log10(train['income_total'])

In [9]:
train['DAYS_BIRTH']=-train['DAYS_BIRTH']
train['DAYS_EMPLOYED']=-train['DAYS_EMPLOYED']
train['DAYS_BIRTH']=np.log10(train['DAYS_BIRTH'])
train['DAYS_EMPLOYED']=np.log10(train['DAYS_EMPLOYED'])

In [10]:
train.loc[train['family_size']<=1,'family_size']=0
train.loc[(train['family_size']>1)&(train['family_size']<=2),'family_size'] = 1
train.loc[(train['family_size']>2)&(train['family_size']<=4),'family_size'] = 2
train.loc[train['family_size']>4, 'family_size'] = 3

In [11]:
train['begin_month']=-train['begin_month']/10

In [12]:
train.head()

,gender,car,reality,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,work_phone,phone,email,family_size,begin_month,credit
0,0,0,0,5.306425,0.00,0.00,0.00,0.0,4.142984,3.672929,0,0,0,1,0.6,1
1,0,0,1,5.393575,0.00,0.25,0.25,0.2,4.056142,3.187521,0,0,1,2,0.5,1
2,1,1,1,5.653213,0.25,0.00,0.00,0.2,4.280738,3.646796,0,1,0,1,2.2,2
3,0,0,1,5.306425,0.00,0.25,0.00,0.2,4.178632,3.320562,0,1,0,1,3.7,0
4,0,1,1,5.197281,0.50,0.00,0.00,0.2,4.177161,3.323252,0,0,0,1,2.6,2

In [13]:
test = pd.read_csv('C:/Users/82106/Desktop/2022/dacon/test.csv')

In [14]:
sex_mapping = {"F":0, "M":1}
test['gender']=test['gender'].map(sex_mapping)
car_mapping = {"Y":1, "N":0}
test['car']=test['car'].map(car_mapping)
reality_mapping = {"Y":1, "N":0}
test['reality']=test['reality'].map(reality_mapping)

In [15]:


income_type_mapping = {'Commercial associate':0, 'Working':0.25, 'State servant':0.5, 'Pensioner':0.75, 'Student':0.1}
test['income_type']=test['income_type'].map(income_type_mapping)
edu_type_mapping = {'Higher education':0 ,'Secondary / secondary special':0.25, 'Incomplete higher':0.5, 'Lower secondary':0.75, 'Academic degree':1}
test['edu_type']=test['edu_type'].map(edu_type_mapping)
family_type_mapping = {'Married':0, 'Civil marriage':0.25, 'Separated':0.5, 'Single / not married':0.75, 'Widow':1}
test['family_type']=test['family_type'].map(family_type_mapping)
house_type_mapping = {'Municipal apartment':0, 'House / apartment':0.2, 'With parents':0.4,'Co-op apartment':0.6, 'Rented apartment':0.8, 'Office apartment':1}
test['house_type']=test['house_type'].map(house_type_mapping)
test.drop(['index','FLAG_MOBIL','occyp_type','child_num'],axis=1,inplace=True)
test['income_total']=np.log10(test['income_total'])
test['income_total']=np.log10(test['income_total'])
test['DAYS_BIRTH']=-test['DAYS_BIRTH']

test['DAYS_EMPLOYED']=-test['DAYS_EMPLOYED']
test['DAYS_BIRTH']=np.log10(test['DAYS_BIRTH'])
test['DAYS_EMPLOYED']=np.log10(test['DAYS_EMPLOYED'])
test.loc[test['family_size']<=1,'family_size']=0
test.loc[(test['family_size']>1)&(test['family_size']<=2),'family_size'] = 1
test.loc[(test['family_size']>2)&(test['family_size']<=4),'family_size'] = 2
test.loc[test['family_size']>4, 'family_size'] = 3
test['begin_month']=-test['begin_month']/10

In [16]:
test.head()

,gender,car,reality,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,work_phone,phone,email,family_size,begin_month
0,1,1,0,0.703390,0.75,0.25,0.25,0.2,4.342225,0.000000,0,1,0,1,6.0
1,0,0,1,0.710146,0.50,0.00,0.00,0.2,4.277930,3.938069,0,1,0,1,3.6
2,0,0,1,0.684952,0.25,0.25,0.00,0.2,4.201042,2.336460,1,1,0,1,4.0
3,1,1,0,0.703390,0.00,0.25,0.00,0.2,4.284882,3.403292,1,0,0,1,4.1
4,0,1,1,0.728531,0.50,0.00,0.00,0.2,4.250956,3.972434,1,0,0,1,0.8

In [18]:
#knn method

In [19]:
from sklearn.neighbors import KNeighborsClassifier

In [161]:
classifier = KNeighborsClassifier(n_neighbors = 3)

In [20]:
train_x = train.iloc[:,:-1]
train_y = train.iloc[:,-1]

In [162]:
classifier.fit(train_x, train_y)
print(classifier.score(train_x,train_y))

0.7794156555920928

In [164]:
l1= []
l1 = classifier.predict(test)

In [197]:
s = pd.DataFrame(l1)
s.loc['0'] = (s.iloc[0]==0)
l = pd.DataFrame({'0':s.iloc[:,0]==0,
                 '1':s.iloc[:,0]==1,
                 '2':s.iloc[:,0]==2})

TypeError: cannot convert the series to <class 'int'>

In [206]:
l_real=l.applymap(lambda x:1 if x else 0)

In [202]:
l

          0      1      2
0     False  False   True
1     False  False   True
2     False  False   True
3      True  False  False
4     False  False   True
...     ...    ...    ...
9995  False  False   True
9996  False  False   True
9997  False  False   True
9998  False  False   True
9999   True  False  False

[10000 rows x 3 columns]

In [207]:
l_real.to_csv("C:/Users/82106/Desktop/2022/dacon/submit_real.csv",header=True)

In [21]:
#NB method

In [28]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix

In [29]:
model = GaussianNB()
model.fit(X=train_x,y=train_y)

GaussianNB()

In [32]:
test_y = model.predict(test)

In [33]:
test_y

array([2, 2, 2, ..., 2, 2, 2], dtype=int64)